﻿@model List<EmployeesHierachry.Model.Employee>
@{
    ViewData["Title"] = "Employees Hierachry Page";
}

<table class="table" border="1">
    <tbody>
        @foreach (var ceo in Model.Where(x => x.ManagerId == null))//get CEO
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ceo.Name)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var manager in Model.Where(x => x.ManagerId == ceo.Id))//Get all managers for this CEO
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => manager.Name)
                        </td>
                        <td></td>
                    </tr>
                    @foreach (var employee in Model.Where(x => x.ManagerId == manager.Id))//Get all employees for this manager
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => employee.Name)
                            </td>
                        </tr>

                    }
                 }              
         }
    </tbody>
</table>